body{
    margin-left: 18rem;
    margin-top: 8rem;
    background-color: rgb(173, 154, 154);
}

.kalku {
    border: 1pt solid black;
    width: 20em;
    height: 26em;
    margin-top: 100px;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 100, 44);
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);
}

.hasil{
    border: 1px solid black;
    width: 270px;
    height: 50px;
    margin-top: 2em;
    background-color: rgb(173, 154, 154);
}

.display{
    font-size: 22pt;
    margin-left: 10px;
    margin-top: 10px;
    color: black;
}

.bag1{
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.bag2{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.bag3{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.bag4{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

button{
    width: 60px;
    height: 40px;
    font-size: 15pt;
    background-color: rgb(173, 154, 154);
    border-radius: 100%;
}

